.app {
  padding:40px;
  min-width: 400px;
}

.app *[data-loading="true"] {
  min-height: 200px;
  background: url("/img/loader.gif") no-repeat center;
}

.app *[data-loading="true"] > * {
  display: none;
}

.btn {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.btn:focus {
  outline: none;
}