.show-details {

}

.show-details--image {
    float: left;
    position: relative;
    font-size: 0;
    margin-right: 20px;
    min-width: 210px;
}

.show-details--rating {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 5px;
    background-color: #fff;
    opacity: 0.7;
    font-size: 16px;
    font-weight: bold;
}

@media (max-width: 600px) {
    .show-details--image {
        float: none;
        display: inline-block;
        margin: 0;
    }
    .show-details--summary {
        clear: both;
        margin-top: 10px;
    }
}