.episode-list--table {
    width: 100%;
    border-collapse: collapse;
}

.episode-list--table td {
    padding: 5px 0;
}

.episode-list--table thead tr {
    background: #f8f8f8;
}

.episode-list--table thead td {
    text-align: center  ;
    border-bottom: 1px dotted #a9a9a9;
    border-top: 1px dotted #a9a9a9;
    border-right: 1px dotted #a9a9a9;
    padding: 5px;
}

.episode-list--table thead td:last-child {
    border-right: none;
}

.episode-list--table tbody td:last-child,
.episode-list--table tbody td:first-child {
    text-align: center;
}

.episode-list--table tbody tr:nth-child(even) {
    background-color: #ebebeb;
}

.btn--add-to-favorites {
    font-size: 24px;
    color: darkgrey;
}

.btn--add-to-favorites__favorite {
    color: #ff8c00;
}

@media (max-width: 600px) {
    .episode-list--table td:nth-child(2) {
        display: none;
    }
}