body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
  background-image: url("/img/page-bg-1.jpg");
  color: #333333;
}

a {
  font-family: "Oswald",sans-serif;
  color: #333333;
}

.app {
  margin: auto;
  max-width: 800px;
}
