.app-nav {
    background: #f8f8f8;
    padding: 10px 5px;
    margin: 0 0 20px 0;
    border-bottom: 1px dotted #a9a9a9;
    border-top: 1px dotted #a9a9a9;
}

.app-nav--btn {
    padding: 0 10px;
}
.app-nav--title {
    margin: 0 0 10px;
    text-align: center;
}